.App {
    padding: 20px;
}

header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url('galaxy.jpg');
    padding-top: 150px;
    padding-bottom: 25px;
    height: 300px;
}

h1, h2 {
    margin-top: 0px;
    font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: white;
}

h1 {
    font-weight: 200;
    font-size: 60px;
}

h2, h3 {
    font-weight: 100;
}

p {
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.43;
    margin-top: 0px;
    margin-bottom: 1rem;
}

.team-section {
    padding: 15px 0px;
    background-color: #C2B2BE;
}

.team-section h2 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
    color: #222222;
}

.team-member {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #C2B2BE;
    border-radius: 3px;
}

.team-member h3, p {
    text-align: center;
    padding-top: 5px;
    color: #222222;
}

.team-member img {
    width: 100%;
}

canvas {
    margin: auto;
}